<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <!--Defined extension-points for pre- and post-procession-->
  <extension-point id="ProcessingPgFwd" name="org.gravity.tgg.modisco.processing.pg.fwd" schema="schema/ProcessingPgFwd.exsd"/>
  <extension-point id="ProcessingPgBwd" name="org.gravity.tgg.modisco.processing.pg.bwd" schema="schema/ProcessingPgBwd.exsd"/>
  <extension-point id="ProcessingModiscoBwd" name="org.gravity.tgg.modisco.processing.modisco.bwd" schema="schema/ProcessingModiscoBwd.exsd"/>
  <!--Registred extensions of this plugin as converter modisco -> pg-->
  <extension point="org.gravity.eclipse.converters">
    <converter class="org.gravity.tgg.modisco.MoDiscoTGGConverterFactory"/>
  </extension>
  <!--Registred extensions for pre- and post processing-->
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModiscoTGG -->
      <package
            uri="platform:/resource/ModiscoTGG/model/ModiscoTGG.ecore"
            class="ModiscoTGG.ModiscoTGGPackage"
            genModel="model/ModiscoTGG.genmodel"/>
   </extension>
</plugin>
