<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <!--Defined extension-points for pre- and post-procession-->
  <extension-point id="ProcessingPgFwd" name="org.gravity.tgg.modisco.processing.pg.fwd" schema="schema/ProcessingPgFwd.exsd"/>
  <extension-point id="ProcessingPgBwd" name="org.gravity.tgg.modisco.processing.pg.bwd" schema="schema/ProcessingPgBwd.exsd"/>
  <extension-point id="ProcessingModiscoBwd" name="org.gravity.tgg.modisco.processing.modisco.bwd" schema="schema/ProcessingModiscoBwd.exsd"/>
  <!--Registred extensions of this plugin as converter modisco -> pg-->
  <extension point="org.gravity.eclipse.converters">
    <converter class="org.gravity.tgg.modisco.MoDiscoTGGConverterFactory"/>
  </extension>
  <!--Registred extensions for pre- and post processing-->
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModiscoTGG -->
      <package
            uri="platform:/resource/ModiscoTGG/model/ModiscoTGG.ecore"
            class="ModiscoTGG.ModiscoTGGPackage"
            genModel="model/ModiscoTGG.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModiscoTGG -->
      <package
            uri="http://www.eclipse.org/MoDisco/Java/0.2.incubation/java"
            class="java.JavaPackage"
            genModel="model/ModiscoTGG.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModiscoTGG -->
      <package
            uri="http://www.gravity-tool.org/typegraph/basic#//annotations"
            class="annotations.AnnotationsPackage"
            genModel="model/ModiscoTGG.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModiscoTGG -->
      <package
            uri="http://www.gravity-tool.org/typegraph/basic"
            class="basic.BasicPackage"
            genModel="model/ModiscoTGG.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModiscoTGG -->
      <package
            uri="http://www.gravity-tool.org/typegraph/basic#//containers"
            class="basic.containers.ContainersPackage"
            genModel="model/ModiscoTGG.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModiscoTGG -->
      <package
            uri="http://www.gravity-tool.org/typegraph/basic#//annotations"
            class="basic.annotations.AnnotationsPackage"
            genModel="model/ModiscoTGG.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModiscoTGG -->
      <package
            uri="http://www.gravity-tool.org/modisco"
            class="modisco.ModiscoPackage"
            genModel="model/ModiscoTGG.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModiscoTGG -->
      <package
            uri="platform:/plugin/org.emoflon.ibex.tgg.core.runtime/model/Runtime.ecore"
            class="runtime.RuntimePackage"
            genModel="model/ModiscoTGG.genmodel"/>
   </extension>
</plugin>
